doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(client) app/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css({.tmp,client}) app/app.css
    link(rel='stylesheet', media='screen', href='http://openfontlibrary.org/face/scheherazade', type='text/css')
    link(rel='stylesheet', href='app/app.css')
    link(rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css")
    // injector:css
    // endinjector
    // endbuild

  body(ng-app='arabicApp')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    div(ui-view='')

    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // build:js({client,node_modules}) app/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/lodash/dist/lodash.compat.js')
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-audio/app/angular.audio.js')


    // endbower
    script(src='socket.io-client/socket.io.js')
    // endbuild
    // build:js(.tmp) app/app.js
    script(src='app/app.js')
    // injector:js

    script(src='app/js/controllers/login.controller.js')
    script(src='app/js/controllers//settings.controller.js')
    script(src='app/js/controllers/signup.controller.js')
    script(src='app/js/controllers/admin.controller.js')
    script(src='app/js/controllers/main.controller.js')
    script(src='app/js/controllers/navbar.controller.js')
    script(src='app/js/controllers/todo.controller.js')
    script(src='app/js/controllers/passages.controller.js')
    script(src='app/js/controllers/chapterNavigation.controller.js')
    script(src='app/js/controllers/exercises.controller.js')
    script(src='app/js/controllers/grammar.controller.js')
    script(src='app/js/controllers/vocab.controller.js')

    script(src='app/js/routes/admin.route.js')
    script(src='app/js/routes/main.route.js')
    script(src='app/js/routes/account.route.js')
    script(src='app/js/routes/chapters.route.js')
    script(src='app/js/services/exerciseProvider.service.js')
    script(src='app/js/services/arabicProvider.service.js')
    script(src='app/js/services/materialProvider.service.js')

    script(src='components/auth/auth.service.js')
    script(src='components/auth/user.service.js')
    script(src='components/modal/modal.service.js')
    script(src='components/mongoose-error/mongoose-error.directive.js')

    script(src='components/socket/socket.service.js')
    // endinjector
    // endbuild
