.exercises-container{
  font-family: ScheherazadeRegular;
  .question{
    .size(800px,auto);
    .center-block();
    background: lightgrey;
    color: maroon;
    font-size: 60px;
    text-align: center;
    padding-bottom: 25px;
  }
  .option{
    margin-right: 50px;
    text-align: right;
    font-size: 45px;
    color: black;
    &:hover {
      -moz-box-shadow: 0 0 5px #fff;
      -webkit-box-shadow: 0 0 5px #fff;
      box-shadow: 0 0 5px #fff;
    }
   }
  .status-message{
    font-size: 35px;
    color :darkred;
  }
}

