.exercises-container{
  .size(800px,auto);
  .center-block();
  border-width: 20px;

  -webkit-border-image: url(border_art.png) 100 round; /* Safari 3.1-5 */
  -o-border-image: url(border_art.png) 100 round; /* Opera 11-12.1 */
  border-image: url(border_art.png) 100 round;
  .font-smoothing();

  font-family: ScheherazadeRegular;

  .question{
    .size(700px,auto);
    text-align: right;
    .center-block();
    font-size: 60px;
    padding-bottom: 25px;
  }
  .option{
   }
  .status-message{
    font-size: 35px;
    color :darkred;
  }
}

