.passage-box-container{

  -webkit-border-image: url(border_art.jpg) 100 round; /* Safari 3.1-5 */
  -o-border-image: url(border_art.jpg) 100 round; /* Opera 11-12.1 */
  border-image: url(border_art.jpg) 100 round;
  font-family: ScheherazadeRegular;
  border :20px;
  .font-smoothing();
  .center-block();
  .size(800px,auto);

}

.passage-box {
}
.unit-title {
  font-size: 60px;
  color: maroon;
  .center-block();
}

.passage-title{
  text-align : right;
  font-size: 45px;
  .center-block();
  .size(500px,auto);
}

.passage-text {
  font-size: 40px;
  text-align: right;
  .size(700px,auto);
  .center-block();
}
