.signup-page-container {
  -webkit-border-image: url(border_art.png) 100 round; /* Safari 3.1-5 */
  -o-border-image: url(border_art.png) 100 round; /* Opera 11-12.1 */
  border-image: url(border_art.png) 100 round;
}
