div(ng-include='"components/navbar/navbar.html"')
.admin-page-container
  ul
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash
