div(ng-include='"components/navbar/navbar.html"')
.main-page-container
  .header
    h1 الموقع في تعلم العربية
    .image-container
        img(src='assets/images/lion.jpg', alt='Arabic Calligraphy')
