.main-page-container
  .header
    .brand الموقع في تعلم العربي
    .right-buttons
      a.clickable(ng-href='/login') الدخول
      a.clickable(ng-href='/signup') تسجيل
  .image-container
      img(src='assets/images/lion_final.png', alt='Arabic Calligraphy')

      br

