div(ng-include='"components/navbar/navbar.html"')
.main-page-container
  .header
    h1 Arabic App Skeleton
    .image-container
        img(src='assets/images/shabi_lines.gif', alt='Arabic Calligraphy')
    .file-upload
